@model List<ASPNetMVC.Web.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>My Product Index</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Color
            </th>
            <th>
                Quantity
            </th>
            <th>
                Category Name
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @prod.Name
                </td>
                <td>
                    @prod.Description
                </td>
                <td>
                   &#x20A6;@prod.UnitPrice.ToString("N")
                </td>
                <td>
                    @prod.Color
                </td>
                <td>
                    @prod.Quantity
                </td>
                <td>
                    @prod.Category.Name
                </td>

            <td>
                <a href="/product/edit/@prod.Id">Edit</a>
            </td>
            <td>

            </td>
            </tr>
        }
    </tbody>

</table>

<a class="btn btn-success" href="/Product/AddProduct">Add Product</a>
       



